
/* ----- media rules ----- */

@font-face{
    font-family: 'Montserat';
    src: url("../fonts/montserrat-v12-latin-700.woff") format("woff"); 
    src: url("../fonts/montserrat-v12-latin-700.woff2") format("woff2");
}
@font-face{
    font-family: 'Roboto';
    src: url("../fonts/roboto-v18-latin-300.woff") format("woff");
    src: url("../fonts/roboto-v18-latin-300.woff2") format("woff2");
}
    
/* ---- fonts ----- */

.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.wrapper{
    padding: 0.6875rem 1.1875rem 8.3125rem;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/bg_mobile@1X.png");
    background-position: center 0;
    color: #fff;
    background-repeat: no-repeat;
}
.head-logo, .head-menu_item{
    text-decoration: none;
    color: inherit;
}
.head-logo{
    text-transform: uppercase;
    font-size: 1.25rem;
    font-family: 'Montserat';
    letter-spacing: 0.0625rem;
}
.head-menu_item{
    font-size: 0.875rem;
    padding: 0.625rem 1.25rem;
    font-family: 'Montserat';
    letter-spacing: 0.0625rem;
}
.head-menu_item:hover{
    border: 0.0938rem solid #fff;
    border-radius: 1.5625rem;
    padding: 0.5313rem 1.1563rem;
}
.header-title{
    order: 1;
    margin: 35.9375% auto 0;
}
.head-menu{
    display: flex;
    justify-content: center;
}

/* ---- section-1 ----- */

.section-one{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 11.875%;
}
.section-one_title{
    font-size: 1.75rem;
    font-family: 'Montserat';
    text-transform: uppercase;
    text-align: center;
}
.section-one_text{
    font-size: 1.125rem;
    font-family: 'Roboto';
    text-align: center;
    margin-top: 5.9375%
}
.section-one_button{
    font-size: 0.8125rem;
    font-family: 'Montserat';
    padding: 0.75rem 3.125rem;
    border: none;
    border-radius: 1.25rem;
    color: inherit;
    background-color: #ff4e50;
    margin-top: 5.9375%
}
/* 
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx){
    .wrapper{
        background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/bg_mobile@2X.png");
        background-size: contain;
    }
} */
@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px){
    .wrapper{
        background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/bg_mobile@2X.png");
        background-size: contain;
    }
}

