.section-two{
    margin-top: 21.25%;
    padding: 0 19px 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-two_list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4.375%;
}
.section-two_title{
    font-size: 22px;
    font-family: 'Montserat';
    text-align: center;
}
.section-two_photo{
    border-radius: 61px;
    display: block;
}
.bradley,.heather,.lukas,.woman{
    position: relative;
    width: 122px;
    margin: 0 auto;
}
.luka{
    order: 0;
}
.heat{
    order: 1;
}
.wom{
    order: 1;
}
.bradley::after{
    content: "";
    display: block;
    background-image: url("../img/TV.svg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 18px;
    background-color: #ff4e50;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    border: 3px solid white;
}
.heather::after{
    content: "";
    display: block;
    background-image: url("../img/CUP.svg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 18px;
    background-color: #ffa507;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    border: 3px solid white;
}
.lukas::after{
    content: "";
    display: block;
    background-image: url("../img/PROBE.svg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 18px;
    background-color: #1cd7ad;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    border: 3px solid white;
}
.woman::after{
    content: "";
    display: block;
    background-image: url("../img/PLANE.svg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 18px;
    background-color: #4e73db;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    border: 3px solid white;
}
.section-two_comment{
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto';
    margin-top: 5%;
    color: #808080;
}
.section-two_name{
    text-align: center;
    font-size: 14px;
    font-family: 'Montserat';
}
.wom, .heat, .luka{
    margin-top: 8.125%;
}
.section-two_name{
    margin-top: 6.25%;
}
.section-two_button{
    font-size: 13px;
    font-family: 'Montserat';
    padding: 11px 49px;
    border: 1px solid #ff4e50;
    border-radius: 20px;
    background-color: transparent;
    margin-top: 9.0625%;
    color: #ff4e50;
}